/* CSS styles for the sidebar */
.sidebar {
    position: fixed; /* Fix the position of the sidebar */
    top: 0; /* Align the top of the sidebar to the top of the viewport */
    left: 0; /* Align the left side of the sidebar to the left side of the viewport */
    width: 20%; /* Set the width to 25% of the viewport */
    height: 100%; /* Set the height to cover the entire viewport */
    text-align: center; /* Align text to the right */
}

.sidebar ul {
    list-style: none; /* Remove list-style */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.profile-image img {
    width: 225px; /* Adjust width as needed */
    height: 150px; /* Adjust height as needed */
    border-radius: 50%; /* Make the image circular */
    margin-top: 25px; /* Adjust the top margin as needed */
    margin-bottom: 15px; /* Adjust the bottom margin as needed */
}
/* CSS to style the LinkedIn logo */
.linkedinlogo img {
    width: 100px; /* Adjust width as needed */
    height: auto; /* Maintains aspect ratio */
    border-radius: 5px; /* Adjust border radius to make it rectangular */
    margin-top: 20px; /* Adjust the top margin as needed */
}

/* CSS to style the LinkedIn logo */
.emaillogo img {
    width: 60px; /* Adjust width as needed */
    height: auto; /* Maintains aspect ratio */
    border-radius: 5px; /* Adjust border radius to make it rectangular */
    margin-top: 20px; /* Adjust the top margin as needed */
}

/* CSS styles for the main content */
main {
    margin-left: 20%; /* Adjust the margin to accommodate the sidebar */
    margin-right: 20%; /* Adjust the marging to the right side */
    padding: 20px; /* Add padding to the main content */
}

/* CSS styles for the container */
.container {
    padding: 15px; /* Add padding to the container */
    border-bottom: .5px solid #ccc; /* Add a thin grey border at the bottom */
}

/* Style the text of the paragraphs to 18 point roboto */
p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #555555;
    line-height: 1.8; /* Set line spacing to 1.5 times the font size */
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust padding as needed */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 30px; /* Adjust margin between links as needed */
}

.navbar ul li a {
    text-decoration: none;
    color: #888; /* Link color */
    font-weight: bold;
    font-size: 22px;
}

.navbar ul li a:hover {
    color: #555; /* Hover color */
}
